#!/usr/bin/env bash

# == set environment variables ========
export EARTHWALKER_PORT="8080" # default: 8080

# the database is located relative to the executable (os.Executable())
export EARTHWALKER_DB_PATH_REL="executable" # default
# the database is located relative to the current directory (os.Getwd())
# note: this includes any directory changes made in this script or in the application itself -
#       it may not be the same as your terminal's working directory
#export EARTHWALKER_DB_PATH_REL="cwd"
# the database is located exactly at EARTHWALKER_DB_PATH
#export EARTHWALKER_DB_PATH_REL="absolute"

export EARTHWALKER_DB_PATH="/badger" # default: "/badger"

# absolute path to parent directory of 'static' and 'templates'
# empty/no setting defaults to location of executable
export EARTHWALKER_STATIC_PATH=""

# default config path - defaults to config.toml
export EARTHWALKER_CONFIG_PATH=""


#cd /path/to/earthwalker # absolute path to the top earthwalker directory
go build # compile (you only need to do this once)
./earthwalker # run compiled executable
