{{ define "head_insert" }}
{{ end }}

{{ define "content" }}

    <div class="container">
        <br>
        Welcome back, {{ .Nickname }}! Do you want to <a href='/continue'>continue your running game</a> or <a href='/newgame'> start anew?</a>
    </div>

{{ end }}
