{{ define "head_insert" }}
{{ end }}
{{ define "content" }}

<div id="score-map" style="width: 100%; height: 50vh;"></div>

<div class="container">
    <br>
    <div class="text-center">
	<button id="copy-link" class="btn btn-primary">Copy link to this summary</button>
    </div>
    <script>
	document.getElementById("copy-link").onclick = function() {
	    window.prompt("Copy to clipboard: Ctrl+C, Enter", window.location);
	};
    </script>

    {{ if .HasDistanceInfo }}
    <div style="margin-top: 10%; text-align: center;">
	<h3>Your scores:</h3>
	<table class="table table-striped">
		<thead>
		<th scope="col">Round</th>
		<th scope="col">Points</th>
		<th scope="col">Distance Off</th>
		</thead>
		<tbody>
		{{ range .DistanceInfo }}
			<tr scope="row">
				<td>{{ .Round }}</td>
				<td>{{ .Points }}</td>
				<td>{{ .Distance }} km</td>
			</tr>
		{{ end }}
		</tbody>
	</table>
    </div>
    {{ end }}

    <div style="margin-top: 10%; text-align: center;">
		<h3>Leaderboard</h3>
	<table class="table table-striped">
	    <thead>
		<th scope="col">Nickname</th>
		<th scope="col">Number of Points</th>
		<th scope="col">Total Distance Off</th>
	    </thead>
	    <tbody>
	    {{ range .Rankings }}
		<tr scope="row">
		    <td>{{ .Nickname }}</td>
		    <td>{{ .NumPoints }}</td>
		    <td>{{ .AccumulatedDistance }} km</td>
		</tr>
	    {{ end }}
	    </tbody>
	</table>
    </div>
</div>

<script src="static/leaflet/leaflet.js"></script>
<link rel="stylesheet" href="static/leaflet/leaflet.css"/>
<script>
let map = L.map("score-map").setView([0.0, 0.0], 1);
let makeIcon = function(name) {
    return L.icon({
	iconUrl: "static/icons/" + name,
	iconSize: [50/2, 82/2],
	iconAnchor: [25/2, 82/2],
	shadowUrl: "static/leaflet/images/marker-shadow.png",
	shadowSize: [41, 41],
	shadowAnchor: [12, 41]
    });
};

let guessedPositions = [
{{ range $guessedPositions := .Guesses }} [
    {{ range $x, $value := $guessedPositions }}
	["{{ $value.Nickname }}", [{{ index $value.GuessedPosition 0}}, {{index $value.GuessedPosition 1}}]],
    {{ end }} ],
{{ end }} ];

let actualPositions = [
    {{ range $pos := .ActualPositions }}
	[{{ index $pos 0 }}, {{ index $pos 1 }}],
    {{ end }}
];
let polyLines = L.featureGroup();

for (round in guessedPositions) {
    for (i in guessedPositions[round]) {
		L.polyline([guessedPositions[round][i][1], actualPositions[round]], {color: '#007bff'}).addTo(polyLines);
    }
}
polyLines.addTo(map);
map.fitBounds(polyLines.getBounds());
for (round in guessedPositions) {
    for (i in guessedPositions[round]) {
	L.marker(guessedPositions[round][i][1], {
		title: guessedPositions[round][i][0],
		icon: makeIcon("question.png"),
	}).addTo(map).bindTooltip(String(Number(round) + 1), {
		permanent: true
	}).openPopup();
    }
}
for (round in actualPositions) {
    L.marker(actualPositions[round], {
	    title: "Actual position",
	    icon: makeIcon("answer.png"),
    }).addTo(map).bindTooltip(String(Number(round) + 1), {
		permanent: true
	}).openPopup();
}

L.tileLayer("https://tiles.wmflabs.org/osm/{z}/{x}/{y}.png", {
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OSM</a> contributors, <a href="https://wikitech.wikimedia.org/wiki/Wikitech:Cloud_Services_Terms_of_use">Wikimedia Cloud Servides</a>'
}).addTo(map);
</script>
{{ end }}
