{{ define "head_insert" }}
<meta name="referrer" content="no-referrer"/>
<script src="https://maps.google.com/maps/api/js"></script>
<script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
<script src="/static/leaflet/leaflet.js"></script>
<script src="/static/geotiff.bundle.min.js"></script>
<script src="/mapeditor.js"></script>
<script src="/get_places.js"></script>
{{ end }}

{{ define "content" }}

<div class="container">

<br>

<h2>Create a New Map</h2>

<br>

<form action="javascript:handleFormSubmit()" method="post">

    <div class="form-group">
		<div class="input-group">
			<div class="input-group-prepend">
			      <div class="input-group-text">Map Name</div>
			</div>
			<input type="text" class="form-control" id="Name"/>
		</div>
	</div>

	<div class="form-group">
		<div class="input-group">
			<div class="input-group-prepend">
			      <div class="input-group-text">Number of Rounds</div>
			</div>
			<input type="number" class="form-control" id="NumRounds" value="5" min="1" max="100"/>
		</div>
	</div>

	<div class="form-row">
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Round Time, Minutes</div>
                </div>
                <input type="number" min="0" class="form-control mr-sm-3" id="TimeLimit_minutes"/>
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Seconds</div>
                </div>
                <input type="number" min="0" class="form-control" id="TimeLimit_seconds"/>
            </div>
        </div>
	</div>
    <small class="form-text text-muted">
        Leave empty or zero for no time limit.
    </small>

    <br/>

	<div class="card border-info">
		<script>
			// This script hides and unhides advanced settings.
			function hideOrUnhideAdvancedSettings() {
				let advancedSettings = document.getElementById('advanced-settings');
				if (advancedSettings.hasAttribute("hidden")) {
					advancedSettings.removeAttribute("hidden");
				} else {
					advancedSettings.setAttribute("hidden", "hidden");
				}
				previewMap.invalidateSize();
			}
		</script>
		<div class="card-header">
			<button class="btn btn-info" type="button" onclick="hideOrUnhideAdvancedSettings()">
				Show advanced settings
			</button>
		</div>

        <div class="card-body" id="advanced-settings" hidden="true">
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
						  <div class="input-group-text">Grace Distance (m)</div>
					</div>
					<input type="number" class="form-control" id="GraceDistance" value="10" min="0"/>
				</div>
			</div>
			<small class="form-text text-muted">
				Guesses within this distance (in meters) will be awarded full points.
			</small>
			<hr/>
            <!-- TODO: it would be nice if this was a double range slider -->
            <div class="form-row">
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Population Density %, Minimum</div>
                        </div>
                        <input type="number" class="form-control mr-sm-3" id="MinDensity" value="15" min="0" max="100"/>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">Maximum</div>
                        </div>
                        <input type="number" class="form-control mr-sm-3" id="MaxDensity" value="100" min="0" max="100"/>
                    </div>
                </div>
			</div>
			<small class="form-text text-muted">
				0% is ocean. 10% is barren road. With 20%, you will find signs of civilization. Anything above 50% is already very populated.
			</small>

			<hr/>

			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
					      <div class="input-group-text">Panorama connectedness</div>
					</div>
					<select class="form-control" id="Connectedness">
						<option value=1 selected="selected">always</option>
						<option value=2 >never</option>
						<option value=0 >any</option>
					</select>
				</div>
			</div>
			<small class="form-text text-muted">
				If you want to be able to always walk somewhere or if you want single-image ones. 
			</small>

			<hr/>

			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
					      <div class="input-group-text">Copyright</div>
					</div>
					<select class="form-control" id="Copyright">
						<option value=0 selected="selected">any</option>
						<option value=1>Google only</option>
						<option value=2>third party only</option>
					</select>
				</div>
			</div>
			<small class="form-text text-muted">
				If you want to see only Google panos or also include third party panos.
			</small>

			<hr/>

			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
					      <div class="input-group-text">Source</div>
					</div>
					<select class="form-control" id="Source">
						<option value=1 selected="selected">outdoors only</option>
						<option value=0 >any</option>
					</select>
				</div>
			</div>
			<small class="form-text text-muted">
				If you want to exclude panoramas inside businesses.
			</small>

			<hr/>

			<div class="form-group">
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="checkbox" id="ShowLabels" checked>
					<label class="form-check-label" for="label">Show labels on map</label>
				</div>
			</div>
			<small class="form-text text-muted">
				Check this if the map should tell you how places are called.
			</small>

			<hr/>
			
			<div class="form-group">
				<div class="input-group">
					<div class="input-group-prepend">
					      <div class="input-group-text">Location string </div>
					</div>
					<input type="text" class="form-control mr-sm-3" id="locString" placeholder="Location" onchange="locStringUpdated()"/>
				</div>
				<small class="form-text text-muted">
					Constrain the game to a specified area - enter a country, state, city, neighborhood, lake, or any other bounded area.  Does not yet affect scoring.
				</small>
				<div class="card bg-danger text-white mt-1" id="error-dialog" hidden>
					<p class="card-text">Sorry, that does not seem like a valid bounding box on OSM Nominatim.</p>
				</div>
			</div>
			<div id="bounds-map" style="width: 80%; height: 50vh; margin-left: 10%; margin-right: 10%;"></div>
		</div>
	</div>

	<br/>

	<input id="hidden-input" type="hidden" name="result" value=""/>

	<button id="submit-button" type="submit" class="btn btn-primary" style="margin-bottom: 2em;">Create Map</button>

</form>
<link rel="stylesheet" href="static/leaflet/leaflet.css"/>
</div>

{{ end }}
