.titlecard {
	display: none;
}

.widget-titlecard {
	display: none;
}

.minimap {
	display: none;
}

.image-header {
	display: none;
}

.widget-image-header-close {
	display: none;
}

.widget-scene-canvas {
}

.app-viewcard-strip {
	display: none;
}

.scene-footer {
	display: none;
}

.widget-image-header-scrim {
	display: none;
}

.watermark { 
	display: none;
}

.app-viewcard-strip {
	display: none;
}

#titlecard {
	display: none;
}

#leaflet-map {
	width: 300px;
	height: 300px;
	position: absolute;
	right: 30px;
	bottom: 30px;
	/* margin-left: auto; */
	/* margin-top: auto; */
	/* margin-right: 100px; */
	/* margin-bottom: 100px; */
	/* max-height: none; */
	/* max-width: none; */
}
