{{ define "head_insert" }}
<script src="https://maps.google.com/maps/api/js"></script>
<script src="https://cdn.jsdelivr.net/npm/@turf/turf@5/turf.min.js"></script>
<script src="static/leaflet/leaflet.js"></script>
<script src="/static/get_places/get_places.js"></script>
{{ end }}

{{ define "content" }}

<div class="container">

<br>

<form action="/found_points" method="post">
	<div class="form-group">
		<label for="nickname">Your nickname:</label>
		<input type="text" class="form-control" id="nickname" name="nickname" placeholder="Nickname" required pattern=".{1,}"/>
	</div>

	<div class="form-group">
		<label for="locString">Location string:</label>
		<input type="text" class="form-control" id="locString" name="nickname" onchange="locStringUpdated()"/>
	</div>

	<div class="form-group">
		<label for="rounds">Number of rounds:</label>
		<input type="number" class="form-control" id="rounds" name="rounds" value="5" onchange="numberOfRoundsUpdated()"/>
	</div>

	<div class="form-group">
		<label for="connectedOnly">Panorama connectedness:</label>
		<select class="form-control" id="connectedOnly" name="connectedOnly" onchange="connectedOnlyUpdated()">
			<option>always</option>
			<option>never</option>
			<option>any</option>
		</select>
	</div>
	
	<div class="progress">
		<div class="progress-bar" id="loading-progress" role="progressbar"></div>
	</div>
	<small class="text-muted">
	Earthwalker is getting random locations from Google Street View.
	This happens in your browser, because there is only an API in JavaScript for this.
	Yes, that is kind of silly, I'm sorry.
	</small>

	<input id="hidden-input" type="hidden" name="result" value=""/>

	<button id="submit-button" type="submit" class="btn btn-primary" disabled>Start game</button>

</form>
<br/>
<div id="bounds-map" style="width: 80%; height: 50vh; margin-left: 10%; margin-right: 10%;"></div>
<link rel="stylesheet" href="static/leaflet/leaflet.css"/>
</div>

{{ end }}
